# File created using '.gitignore Generator' for Visual Studio Code: https://bit.ly/vscode-gig

# Created by https://www.toptal.com/developers/gitignore/api/visualstudiocode,linux,nextjs,react,strapi
# Edit at https://www.toptal.com/developers/gitignore?templates=visualstudiocode,linux,nextjs,react,strapi

### Linux ###
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

### NextJS ###
# Next build dir
.next/

### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

node_modules
bower_components

*.sublime*

psd
thumb
sketch

### Strapi ###

.env
license.txt
exports
*.cache
build
.strapi-updater.json

############################
# OS X

.DS_Store
.AppleDouble
.LSOverride
Icon
.Spotlight-V100
.Trashes
._*

# Linux



# Windows

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp


# Packages

*.7z
*.csv
*.dat
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.com
*.class
*.dll
*.exe
*.o
*.seed
*.so
*.swo
*.swp
*.swn
*.swm
*.out
*.pid

# Logs and databases

.tmp
*.sql
*.sqlite
*.sqlite3


# Misc.

*#
ssl
.idea
nbproject
public/uploads/*
!public/uploads/.gitkeep

# Node.js

lib-cov
lcov.info
pids
results
.node_history

# Tests

testApp
coverage

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# Support for Project snippet scope
!.vscode/*.code-snippets

# End of https://www.toptal.com/developers/gitignore/api/visualstudiocode,linux,nextjs,react,strapi

# Custom rules (everything added below won't be overriden by 'Generate .gitignore File' if you use 'Update' option)

